    <div class="contenedor">
        <h1>Deposito de dinero</h1>
        <div class="saldo-box">
            <p>Saldo actual:1.000.000</p>
        </div>
        <div class="acciones">
            <input type="number" placeholder="Ingrese monto">
            <button>Ingresar</button>
        </div>
        <div class="volver">
            <a href="Ruleta.html">Volver a la ruleta</a>
        </div>

    </div>
