<h1>Depósito</h1>
<p>Saldo actual: ${{saldo}}</p>

<form action="/Deposito" method="POST">
  <label for="monto">Monto a depositar:</label>
  <input type="number" name="monto" required min="1">
  <button type="submit">Depositar</button>
</form>

{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}