<div class="contenedor-pagina-centrado">
  <div class="tarjeta-pagina-completa">
    <h1>Información de la aplicación y sus desarrolladores</h1>
    <details>
      <summary>Los objetivos de la aplicación</summary>
      <p>
        El objetivo principal de este <strong><em>proyecto académico</em></strong> es diseñar y desarrollar la interfaz visual completa de un casino online especializado en el juego de la ruleta europea.
        El desarrollo debe realizarse exclusivamente con HTML y CSS, sin el uso de frameworks, y creando todas las páginas necesarias con navegación funcional.
        Este proyecto busca simular la experiencia de usuario en una plataforma de casino, permitiendo la navegación entre distintas secciones como el registro de usuario, acceso al casino, perfil del jugador, reglas de la ruleta y simulación de apuestas, todo dentro de una estructura coherente, semántica y visualmente homogénea.
      </p>
    </details>
      <details>
      <summary>Aclaración del proyecto académico</summary>
      <p>
        Este proyecto es parte de un trabajo académico cuyo propósito es el aprendizaje y la práctica de desarrollo web, utilizando datos ficticios y simulaciones para crear una experiencia de usuario coherente y funcional.
      </p>
    </details>
      <details>
      <summary>Tecnologías utilizadas</summary>
      <p>
        Para el desarrollo de esta aplicación se emplearon exclusivamente HTML y CSS, sin frameworks externos, garantizando una buena comprensión en el desarrollo web.
      </p>
    </details>

    <details>
      <summary>El equipo de desarrollo</summary>
      <div class="contenido">
        <p>El equipo está conformado por los estudiantes:</p>
        <ul>
          <li>Diego Briones: Estudiante de 4to semestre de la carrera Ing. civil en Informática y Telecomunicaciones en la Universidad Diego Portales</li>
          <li>Jesús Morán:  Estudiante de 4to semestre de la carrera Ing. civil en Informática y Telecomunicaciones en la Universidad Diego Portales</li>
          <li>Christián Pereira:  Estudiante de 4to semestre de la carrera Ing. civil en Informática y Telecomunicaciones en la Universidad Diego Portales</li>
        </ul>
      </div>
    </details>
      <div class="volver">
          <a href="/Inicio">Volver al inicio</a>
        </div>
  </div>
</div>