<header class="fixed-nav-header">
    <nav class="navbar-inicio">
        <h1 class="logo-text">PrimeBet</h1>
        <div class="nav-links-inicio">
            <a href="/Registro" class="nav-link-item">Registro de usuario</a>
            <a href="/Login" class="nav-link-item">Acceso al casino</a>
            <a href="/Info" class="nav-link-item">Información de la aplicación</a>
            <a href="/Info_ruleta" class="nav-link-item">Reglas de la ruleta</a>
        </div>
    </nav>
</header>

<section class="hero-image-section">
    <div class="hero-content-wrapper">
        <h2 class="hero-section-title">¡Bienvenido a PrimeBet!</h2>
        <p class="hero-section-subtitle">La unica ruleta prime.</p>
    </div>
</section>

<footer class="footer-inicio"> 
    <p>2025 Ruleta Europea - Derechos Reservados</p> 
</footer>