    <h1 style="color: white;">Ruleta Europea</h1>
    <img id="rule" src="https://pngimg.com/uploads/roulette/roulette_PNG12.png">
<div id="links">
    <a href="registro.html">Registro de usuario</a>
    <a href="login.html">Acceso al casino</a>
    <a href="info.html">Información de la aplicación y sus desarrolladores</a>
    <a href="info_ruleta.html">Información sobre la ruleta y sus reglas</a>
    </div>
    <footer style="color: white;"> 
     <p>2025 Ruleta Europea - Derechos Reservados</p> 
    </footer>