    <h1 style="color: white;">Ruleta Europea</h1>
    <img id="rule" src="https://pngimg.com/uploads/roulette/roulette_PNG12.png">
<div id="links">
    <a href="/registro">Registro de usuario</a>
    <a href="/login">Acceso al casino</a>
    <a href="/info">Información de la aplicación y sus desarrolladores</a>
    <a href="/info_ruleta">Información sobre la ruleta y sus reglas</a>
    </div>
    <footer style="color: white;"> 
     <p>2025 Ruleta Europea - Derechos Reservados</p> 
    </footer>