<header class="encabezado-fijo">
    <nav class="navbar-inicio">
        <h1 class="logo-text">PrimeBet</h1>
        <div class="nav-links-inicio">
            <a href="/registro" class="nav-link-item">Registro de usuario</a>
            <a href="/login" class="nav-link-item">Acceso al casino</a>
            <a href="/info" class="nav-link-item">Información de la aplicación</a>
            <a href="/info_ruleta" class="nav-link-item">Reglas de la ruleta</a>
        </div>
  </nav>
</header>

<section class="seccion-principal-inicio">
    <div class="contenido-principal-inicio">
        <h2 class="section-title">¡Bienvenido a PrimeBet!</h2>
        <p class="hero-section-subtitle">La única ruleta prime.</p>
    </div>
    
    <footer class="footer-inicio"> 
        <p>2025 Ruleta Europea - Derechos Reservados</p> 
    </footer>
</section>
