<section class="hero-image-section">
    <div class="hero-content-wrapper">
        <h2 class="hero-section-title">¡Bienvenido a PrimeBet!</h2>
        <p class="hero-section-subtitle">La unica ruleta prime.</p>
        <a href="/Login" class="btn-cta">Jugar Ahora</a>
    </div>
</section>

<footer class="main-footer"> 
    <div class="footer-bottom">
        <p>2025 Ruleta Europea - Derechos Reservados</p> 
    </div>
</footer>