<div class="contenedor-pagina-centrado">
  <div class="formulario">
    <h1>Inicio de sesión</h1>
    <form id="form-login" onsubmit="iniciarSesion(event)">
      <div class="input-box">
        <input type="email" name="email" id="email" required>
        <label>Correo electrónico</label>
      </div>
      <div class="input-box">
        <input type="password" name="password" id="password" required>
        <label>Contraseña</label>
      </div>
      <div class="recordar">
        <a href="/Recuperarc">¿Olvidó su contraseña?</a>
      </div>
      <input type="submit" value="Iniciar sesión">
      <div class="volver">
        <a href="/Inicio" class="btn-outline">Volver al inicio</a>
      </div>
    </form>
  </div>
</div>

<script>
// Redirigir si ya está autenticado
if (estaAutenticado()) {
  window.location.href = '/Ruleta';
}
</script>