  <div class="perfil">
    <h1>Perfil de usuario</h1>

    <section>
      <ul>
        <li>Nombre: josecito</li>
        <li>Fecha de nacimiento: 14/04/2000</li>  
        <li>Nombre de usuario: josecitogamer</li>
        <li>Correo electrónico: josecito@gmail.com</li>
        <li>Saldo Actual: $1.000.000</li>
      </ul>
    </section>

    <h2>Últimas 5 transacciones:</h2>
    <table class="tabla-transacciones">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Detalle</th>
          <th class="monto">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15 agosto 2025</td>
          <td>Depósito</td>
          <td class="monto positivo">+ $15.000</td>
        </tr>
        <tr>
          <td>5 agosto 2025</td>
          <td>Retiro</td>
          <td class="monto negativo">− $150.000</td>
        </tr>
        <tr>
          <td>1 agosto 2025</td>
          <td>Depósito</td>
          <td class="monto positivo">+ $150.000</td>
        </tr>
        <tr>
          <td>23 junio 2025</td>
          <td>Retiro</td>
          <td class="monto negativo">− $15.000</td>
        </tr>
        <tr>
          <td>15 junio 2025</td>
          <td>Depósito</td>
          <td class="monto positivo">+ $1.000.000</td>
        </tr>
      </tbody>
    </table>

    <div class="botones">
      <a href="Ruleta.html">Ir a la Ruleta</a>
    </div>
  </div>