<div class="contenedor-pagina-centrado">
<div class="formulario">
  <h1>Recuperar contraseña</h1>
  <form action="/recuperar" method="POST">
    <div class="input-box">
      <input type="email" name="email" required>
      <label>Correo electrónico</label>
    </div>
    <input type="submit" value="Enviar enlace de recuperación">
    <div class="volver">
      <a href="/inicio">Volver al inicio</a>
    </div>
  </form>

  {{#if error}}
    <p style="color:red;">{{error}}</p>
  {{/if}}
  {{#if success}}
    <p style="color:green;">{{success}}</p>
  {{/if}}
</div>
</div>