  <div class="formulario">
    <h1>Recuperar contraseña</h1>
    <form>
      <div class="input-box">
        <input type="email" name="email" required>
        <label>Correo electrónico</label>
      </div>
      <input type="submit" value="Enviar enlace de recuperación">
      <div class="volver">
        <a href="Inicio.html">Volver al inicio</a>
      </div>
    </form>
  </div>
