<div class="formulario">
<h1>Retiro</h1>
<p>Saldo actual: ${{saldo}}</p>

<form action="/Retiro" method="POST">
  <label for="monto">Monto a retirar:</label>
  <input type="number" name="monto" required min="1">
  <button type="submit">Retirar</button>
</form>

{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}
</div>
