    <h1 style="color:white">Juego de la ruleta</h1>
    <div class="botones"> 
        <a href="Retiro.html">Realizar retiro</a>
        <a href="Deposito.html">Realizar deposito</a>
        <a href="Perfil.html">Ir al perfil</a>
    </div>
   <div class="contenedor-ruleta">
  <img src="ruleta_europea.png" alt="Ruleta Europea" class="ruleta">
  <div class="panel-derecho">
  <p class="saldo">Dinero disponible: $1.000.000</p>
    <p class="estado">Estado: Esperando apuesta</p>
  <div class="tablas-apuestas">
    <div class="ultimas-apuestas">
      <h3 style="color:white">Últimas apuestas</h3>
      <table class="tabla-apuestas">
        <thead>
          <tr><th>#</th><th>Apuesta</th></tr>
        </thead>
        <tbody>
          <tr><td>1</td><td class="negro">Negro (13) - Apuesta $15.000</td></tr>
          <tr><td>2</td><td class="rojo">Rojo - Apuesta $20.000</td></tr>
          <tr><td>3</td><td class="rojo">Rojo (19) - Apuesta $10.000</td></tr>
          <tr><td>4</td><td class="verde">Verde - Apuesta $30.000</td></tr>
          <tr><td>5</td><td class="negro">Negro - Apuesta $5.000</td></tr>
        </tbody>
      </table>
    </div>

    <div class="ultimos-Resultados">
      <h3 style="color:white">Últimos Resultados</h3>
      <table class="tabla-resultados">
        <thead>
          <tr><th>#</th><th>Resultado</th></tr>
        </thead>
        <tbody>
          <tr><td>1</td><td class="negro">Negro (13) - Ganancia $540.000</td></tr>
          <tr><td>2</td><td class="rojo">Rojo(19) - Ganancia $40.000</td></tr>
          <tr><td>3</td><td class="negro">Negro(17) - Ganancia $0</td></tr>
          <tr><td>4</td><td class="negro">Negro(35) - Ganancia $0</td></tr>
          <tr><td>5</td><td class="rojo">Rojo(25) - Ganancia $0</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>